<div class="row text-center">
	<h1>Productos</h1>
	<div class="row">
		<div class="panel-body">
		<a type="button" href='#/producto/create' class="btn btn-lg btn-success">Crear Producto</a>
		</div>
	</div>
	<div class="row">
		<div class="panel-body">
		<a type="button" href='#/producto/view' class="btn btn-lg btn-info">Ver Productos</a>
		</div>
	</div>
	<div class="row">
		<div class="panel-body">
		<a type="button" href='#/' class="btn btn-lg btn-warning">Regresar</a>
		</div>
	</div>
</div>