<div class="row text-center">
	<a type="button" href="#/producto" class="btn btn-md btn-warning pull-left">&lt</a><h1>{{title}}</h1>
	<div class="content" ng-cloak>
		<div class="panel panel-default" ng-repeat="producto in productos">
			<div class="panel-heading">
				{{producto.nombre}}
			</div>
			<div class="panel-body">
				<ul class="list-group text-left">
					<li class="list-group-item"><strong>Nombre: </strong>{{producto.nombre}}</li>
					<li class="list-group-item"><strong>Código: </strong>{{producto.codigo}}</li>
				</ul>
			</div>
			<div class="panel-footer">
				<a type="button" href="#/producto/{{producto.pk_producto}}" class="btn btn-md btn-info">Ver más</a>
				<a type="button" href="#/producto/edit/{{producto.pk_producto}}" class="btn btn-md btn-success">Editar</a>
			</div>
		</div>
	</div>
</div>